.todo-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.todo-header {
  text-align: center;
  position: relative;
}

.todo-title {
  font-size: 54px;
  cursor: pointer;
  margin-bottom: 20px;
  display: inline-block; /* Para permitir alinhamento vertical */
}

.edit-title {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  left: calc(100% + 10px); /* Posiciona à direita do título com margem */
  top: 50%; /* Alinha verticalmente no meio */
  transform: translateY(-50%);
}

.todo-input-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza horizontalmente */
  margin-bottom: 54px;
}

.todo-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #b2b3b4;
  border-radius: 4px;
  margin-right: 10px;
}

.add-button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #98a2b3;
  color: #fff;
  cursor: pointer;
  height: 100%; /* Garante que a altura do botão corresponda à do input */
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens na lista */
}

.todo-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%; /* Permite que o item da lista ocupe a largura completa do contêiner */
  max-width: 500px; /* Limita a largura máxima dos itens da lista */
}

.todo-content {
  display: flex;
  align-items: center;
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #98a2b3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.todo-checkbox svg {
  width: 12px;
  height: 12px;
  fill: #98a2b3;
}

.todo-text {
  flex-grow: 1;
  font-size: 16px;
}

.todo-text.checked {
  text-decoration: line-through;
}

.edit-input {
  flex-grow: 1;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
}

.todo-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.action-button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #98A2B3;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.action-button.editing {
  /* Estilos quando o botão está em modo de edição */
  width: calc(100% - 100px); /* Ajuste a largura conforme necessário */
  margin-right: 0;
  text-align: center;
}

.comment-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.comment-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.comment-button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  margin-bottom: 10px;
}

.comment-button:first-of-type {
  background: none;
  border: none;
  color: #98a2b3;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
}

.comment-button:last-of-type {
  background: none;
  border: none;
  color: #98a2b3;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
}

.comments-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.comment-item {
  padding: 5px;
  background-color: #f1f3f5;
  border-radius: 4px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-actions {
  display: flex;
}

.toggle-comments-button {
  background: none;
  border: none;
  color: #98a2b3;
  cursor: pointer;
  margin-top: 10px;
  padding: 1px;
  font-size: 14px;
}

.edit-comment-container {
  display: flex;
  flex-direction: column;
}

.comment-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editing-button {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1D2939;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
}

